<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 扫描包 ,要记得controller 只能被springmvc文件扫描才会失效,错了两次了..
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:component-scan base-package="com.zxc.movie"></context:component-scan>
	-->
	<!-- 扫描aop-->
	<context:component-scan base-package="com.zxc.movie.aop"></context:component-scan>

	<!-- 启动 aop 注解可以被加载  proxy-target-class 参数为true时将使用cglib代理,默认为jdk动态代理,也就是为false-->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>
